

.font-subhead{
    font-size: 2.5em;

}
.font-head{
    font-size: 3em;
}

#landing{
    margin-top: 4em;
    margin-bottom: 10%;
}

.squiggly-line > svg{
    width: 100% !important;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

@media only screen and (max-width:666px){
    .contact-form{
        margin-left: 5% !important;
        margin-right: 5% !important;
        padding: 3% 7% 10% 7% !important;

    }

    .section-header{
        font-size: 3em !important;
    }

}
.section-header{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: #E11060;
}
.green-highlight{
    color: #6BD1AA;

}

.red-highlight{
    color: #E11060;

}
p{
    font-family: 'Libre Franklin';
}

.custom-card{
    box-shadow: 0px 0px 50px lightgray;
    border: none !important;
}

.body-text{
    font-size: 2em;
    word-wrap: break-word;
}

.font-gray{
    color: gray;
}